<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<string>我的好友</string>
		<key>friends</key>
		<array>
			<string>2B</string>
			<string>战斗机</string>
			<string>西门吹雪123123123123123</string>
			<string>西门抽血</string>
			<string>西门抽筋</string>
			<string>西门抽奖</string>
			<string>西门庆</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>大学同学</string>
		<key>friends</key>
		<array>
			<string>大学同学1</string>
			<string>大学同学2</string>
			<string>大学同学3</string>
			<string>大学同学4</string>
			<string>大学同学5</string>
			<string>大学同学6</string>
			<string>大学同学7</string>
			<string>大学同学8</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>高中同学</string>
		<key>friends</key>
		<array>
			<string>高中同学1</string>
			<string>高中同学2</string>
			<string>高中同学3</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>初中同学</string>
		<key>friends</key>
		<array>
			<string>初中同学1</string>
			<string>初中同学2</string>
			<string>初中同学3</string>
			<string>初中同学4</string>
			<string>初中同学5</string>
			<string>初中同学6</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>小学同学</string>
		<key>friends</key>
		<array>
			<string>小学同学1</string>
			<string>小学同学2</string>
			<string>小学同学3</string>
			<string>小学同学4</string>
			<string>小学同学5</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>老乡</string>
		<key>friends</key>
		<array>
			<string>老乡1</string>
			<string>老乡2</string>
			<string>老乡3</string>
			<string>老乡4</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>欠我钱的</string>
		<key>friends</key>
		<array>
			<string>王八羔子</string>
			<string>屌丝青年</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>追债的</string>
		<key>friends</key>
		<array>
			<string>狗不理</string>
			<string>猪不理</string>
			<string>鸭不理</string>
			<string>牛不理</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>亲戚</string>
		<key>friends</key>
		<array>
			<string>亲戚1</string>
			<string>亲戚2</string>
			<string>亲戚3</string>
			<string>亲戚4</string>
			<string>亲戚5</string>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<string>兄弟</string>
		<key>friends</key>
		<array>
			<string>猪朋</string>
			<string>狗友</string>
			<string>死党</string>
		</array>
	</dict>
</array>
</plist>
